.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

.section-title {
  font-size: 40px;
  color: hsl(268, 95%, 64%);
  margin-bottom: 30px;
}

.projects-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 10px 30px;
}

.project-img {
  height: 350px;
  width: 600px;
  border-radius: 12px;
  transition: scale 0.3s ease;
}

.project-img:hover {
  scale: 1.05;
}

.project-details {
  gap: 20px;
  width: 55%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-name {
  font-size: 34px;
  color: hsl(268, 95%, 64%);
}

.projects-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.links-button {
  cursor: pointer;
  position: relative;
  padding: 5px 15px;
  font-size: 20px;
  text-decoration: none;
  color: hsl(268, 95%, 64%);
  border: 2px solid hsl(268, 95%, 64%);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.links-button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: hsl(268, 95%, 64%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.links-button:hover::before {
  scale: 3;
}

.links-button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.links-button:active {
  scale: 1;
}

@media screen and (max-width: 1024px){
  .projects-container{
    width: 100%;
  }
  .project-name{
    font-size: 40px;
  }
  .project-description{
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 820px){
  .projects-container{
    width: 100%;
  }
  .project-name{
    font-size: 30px;
  }
  .project-description{
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 820px){
  .projects-container{
    width: 100%;
  }
  .project-name{
    font-size: 28px;
  }
  .project-description{
    font-size: 18px;
  }
}

@media screen and (max-width: 430px){
  .projects-container{
    width: 100%;

  }
  .project-container{
    display: flex;
    flex-direction: column;
  }
  .project-img{
    width: 80%;
  }
  .project-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-name{
    font-size: 28px;
  }
  .project-description{
    font-size: 12px;
    width: 100%;
  }
}