.introduce {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profilePic {
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.introduce-title {
  margin-top: 30px;
  font-size: 60px;
  color: hsl(268, 95%, 64%);
}

.button {
  cursor: pointer;
  position: relative;
  padding: 15px 30px;
  font-size: 18px;
  color: hsl(268, 95%, 64%);
  border: 2px solid hsl(268, 95%, 64%);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: hsl(268, 95%, 64%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}

.introduce-gretting{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Hey{
  font-size: 70px;
  font-weight: 700;
  color: hsl(268, 95%, 64%);
  margin-left: 40px;
}

.name{
  font-size: 70px;
  font-weight: 700;
}

.gretting-text{
  display: flex;
}

.profilePic{
  transform: translateX(105%);
  animation: slideLeft 1s forwards;
  animation-delay: 1s;
}

@keyframes slideLeft {
  from {
    transform: translateX(105%);
  }
  to {
    transform: translateX(0);
  }
}

.introduce-dark{
  background-color: #333;
  color: rgb(255, 255, 255);
}

.profilePic-dark {
  height: 300px;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .introduce{
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
  }
  .button{
    display: none;
  }
  .introduce-gretting{
    display: flex;
    flex-direction: column;
    height: 60%;
  }
  .profilePic{
    height: 400px;
    animation: none;
    transform: none;
  }
  .Hey, .name{
    font-size: 80px;
  }
  .introduce-title{
    font-size: 80px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 820px){
  .introduce{
    height: 70vh;
    display: flex;
    align-items: center;
  }
  .button{
    display: none;
  }
  .introduce-gretting{
    display: flex;
    flex-direction: column;
    height: 70%;
  }
  .profilePic{
    height: 350px;
    animation: none;
    transform: none;
  }
  .Hey, .name{
    font-size: 70px;
  }
  .introduce-title{
    font-size: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 820px){
  .introduce{
    height: 70vh;
    display: flex;
    align-items: center;
  }
  .button{
    display: none;
  }
  .introduce-gretting{
    display: flex;
    flex-direction: column;
    height: 70%;
  }
  .profilePic{
    height: 300px;
    animation: none;
    transform: none;
  }
  .Hey, .name{
    font-size: 50px;
  }
  .introduce-title{
    font-size: 50px;
  }
}

@media screen and (max-width: 430px){
  .introduce{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    display: none;
  }
  .introduce-gretting{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;

  }
  .profilePic{
    height: 200px;
    animation: none;
    transform: none;
  }
  .gretting-text{
    display: flex;
    justify-content: sp;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .Hey, .name{
    font-size: 35px;
    margin-left: 0;
  }
  .introduce-title{
    font-size: 40px;
  }
}

@media screen and (max-width: 390px){
  .introduce{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    display: none;
  }
  .introduce-gretting{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;

  }
  .profilePic{
    height: 200px;
    animation: none;
    transform: none;
  }
  .Hey, .name{
    font-size: 30px;
    margin-left: 0;
  }
  .introduce-title{
    font-size: 30px;
  }
}