.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 6px; */
  padding: 30px 0px;
  width: 50%;
  height: 80vh;
}

.input-container {
  width: 80%;
  position: static;
  display: flex;
  flex-direction: column-reverse;

}

.input-container label {
  color: black;
  position: relative;
  top: 2px;
  /* border: solid white; */
  border-top: none;
  border-right: none;
  border-left: none;
  width: fit-content;
  transition: transform 0.2s;
  margin: 0px 0px 0px 12px;
  padding: 0px 4px 0px 4px;
  font-size: 20px;
}

.input-container__dark label{
  color: #fff;
  position: relative;
  top: 2px;
  /* border: solid hsl(50, 95%, 64%); */
  border-top: none;
  border-right: none;
  border-left: none;
  width: fit-content;
  transition: transform 0.2s;
  margin: 0px 0px 0px 12px;
  padding: 0px 4px 0px 4px;
  font-size: 20px;
  margin-bottom: 2px;
}

.input-container input:focus + label {
  color: hsl(268, 95%, 64%);
  transform: scale(1.2);
  transform: translateX(0.5rem);
}

.input-container textarea:focus + label {
    color: hsl(268, 95%, 64%);
    transform: scale(1.2);
    transform: translateX(0.5rem);
  }

.input-container input {
  border: 2px hsl(268, 95%, 64%) solid;
  padding: 8px;
  border-radius: 6px;
}

.input-container textarea {
  border: 2px hsl(268, 95%, 64%) solid;
  padding: 8px;
  border-radius: 6px;
}

.input-container input:focus {
  outline: none;
}

.input-container textarea:focus {
  outline: none;
}

.text-input__dark{
  background-color: transparent;
  color: #fff;
}

.button-submit{
  cursor: pointer;
  position: relative;
  padding: 15px 30px;
  font-size: 18px;
  color: hsl(268, 95%, 64%);
  border: 2px solid hsl(268, 95%, 64%);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button-submit::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: hsl(268, 95%, 64%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-submit:hover::before {
  scale: 3;
}

.button-submit:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button-submit:active {
  scale: 1;
}

@media screen and (max-width: 1024px){
  .form{
    width: 90%;
  }
  .input-container input{
    height: 100px;
    font-size: 35px;
  }
  .input-container label{
    font-size: 40px;
  }
  .button-submit{
    font-size: 20px;
  }
  .error{
    font-size: 26px;
  }
  .button-submit{
    font-size: 27px;
  }
}

@media screen and (max-width: 430px) {
  .form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 6px; */
    padding: 30px 0px;
    height: 100vh;
  }
  .input-container input{
    height: 50px;
    font-size: 20px;
  }
  .input-container label{
    font-size: 25px;
  }
  .button-submit{
    font-size: 27px;
  }
  .error{
    font-size: 18px;
  }
}