.footer{
    margin-top: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footerUp{
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
}

.principals-footer{
    width: 60%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.principals-footer h3{
    font-size: 30px;
}

.principals-footer p{
    font-size: 15px;
    width: 60%;
}

.socials-footer{
    width: 20%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socials-footer h3{
    font-size: 30px;
}

.social-Icons__container{
    gap: 10px;
    display: flex;
    align-items: center;
}

.social-icon{
    height: 40px;
}

.social-icon:hover{
    transform: scale(1.05);
}

.footerDown{
    border-top: 2px solid hsl(268, 95%, 64%);
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon__dark{
    filter: invert(100%);
}

@media screen and (max-width: 1024px){
    .principals-footer{
        width: 80%;
    }
    .principals-footer h3{
        font-size: 50px;
    }
    .principals-footer p{
        font-size: 25px;
        width: 100%;
    }
    .socials-footer h3{
        font-size: 50px;
    }
    .footerUp{
        flex-direction: column;
    }
    .socials-footer{
        width: 80%;
    }
    .social-icon{
        height: 70px;
    }
    .footerDown{
        border-top: 5px solid hsl(268, 95%, 64%);
    }
    .footerDown p, span{
        font-size: 30px
    }
}

@media screen and (max-width: 1024px) and (min-width: 820px){
    .principals-footer{
        width: 80%;
    }
    .principals-footer h3{
        font-size: 40px;
    }
    .principals-footer p{
        font-size: 25px;
        width: 100%;
    }
    .socials-footer h3{
        font-size: 40px;
    }
    .footerUp{
        flex-direction: column;
    }
    .socials-footer{
        width: 80%;
    }
    .social-icon{
        height: 50px;
    }
    .footerDown{
        border-top: 5px solid hsl(268, 95%, 64%);
    }
    .footerDown p, span{
        font-size: 30px
    }
}

@media screen and (min-width: 768px) and (max-width: 820px){
    .principals-footer{
        width: 80%;
    }
    .principals-footer h3{
        font-size: 40px;
    }
    .principals-footer p{
        font-size: 25px;
        width: 100%;
    }
    .socials-footer h3{
        font-size: 40px;
    }
    .footerUp{
        flex-direction: column;
    }
    .socials-footer{
        width: 80%;
    }
    .social-icon{
        height: 50px;
    }
    .footerDown{
        border-top: 5px solid hsl(268, 95%, 64%);
    }
    .footerDown p, span{
        font-size: 30px
    }
}

@media screen and (max-width: 430px){
    .principals-footer{
        width: 80%;
    }
    .principals-footer h3{
        font-size: 40px;
    }
    .principals-footer p{
        font-size: 20px;
        width: 100%;
    }
    .socials-footer h3{
        font-size: 40px;
    }
    .footerUp{
        flex-direction: column;
    }
    .socials-footer{
        width: 80%;
    }
    .social-icon{
        height: 50px;
    }
    .footerDown{
        border-top: 5px solid hsl(268, 95%, 64%);
    }
    .footerDown p, span{
        font-size: 18px
    }
}

@media screen and (max-width: 390px){
    .principals-footer{
        width: 80%;
    }
    .principals-footer h3{
        font-size: 30px;
    }
    .principals-footer p{
        font-size: 17px;
        width: 100%;
    }
    .socials-footer h3{
        font-size: 30px;
    }
    .footerUp{
        flex-direction: column;
    }
    .socials-footer{
        width: 80%;
    }
    .social-icon{
        height: 40px;
    }
    .footerDown{
        border-top: 5px solid hsl(268, 95%, 64%);
    }
    .footerDown p, span{
        font-size: 18px
    }
}