.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutMe-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.aboutMe-text{ 
    width: 40%;
}

.aboutMe-text h3{
    font-size: 23px;
    margin-bottom: 20px;
}

.aboutMe-text p{
    font-size: 20px;
}

.aboutMe-skills{
    width: 40%;
}

.aboutMe-skills h3{
    font-size: 23px;
    margin-bottom: 20px
}

.skills-container{ 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-container span{
    background-color: #e8e8e8;
    padding: 12px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    transition: scale 0.3s ease;
}

.skills-container span:hover{
    scale: 1.1;
}

.aboutMe-dark{
    color: #fff;
}

.skills-container-dark span{
    transition: 0.3s ease;
    background-color: hsl(268, 95%, 64%);
    color: #fff;
}

@media screen and (max-width: 1024px){
    .section-title{
        font-size: 70px
    }
    .aboutMe-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .aboutMe-text{
        width: 80%;
    }
    .aboutMe h3{
        font-size: 40px;
    }
    .aboutMe p{ 
        font-size: 30px;
    }
    .aboutMe-skills{
        width: 80%;
    }
    .skills-container span{
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 820px){
    .section-title{
        font-size: 55px
    }
    .aboutMe-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .aboutMe-text{
        width: 80%;
    }
    .aboutMe h3{
        font-size: 40px;
        text-align: center;
    }
    .aboutMe p{ 
        text-align: center;
        font-size: 28px;
    }
    .aboutMe-skills{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills-container span{
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px){
    .section-title{
        font-size: 55px
    }
    .aboutMe-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .aboutMe-text{
        width: 80%;
    }
    .aboutMe h3{
        font-size: 40px;
        text-align: center;
    }
    .aboutMe p{ 
        text-align: center;
        font-size: 28px;
    }
    .aboutMe-skills{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills-container span{
        font-size: 28px;
    }
}

@media screen and (max-width: 430px){
    .section-title{
        font-size: 40px
    }
    .aboutMe-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .aboutMe-text{
        width: 100%;
    }
    .aboutMe h3{
        font-size: 35px;
        text-align: center;
    }
    .aboutMe p{ 
        text-align: center;
        font-size: 25px;
    }
    .aboutMe-skills{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills-container span{
        font-size: 28px;
    }
}